@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

section {
    scroll-margin-top: 4rem;
}

.navbar {
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 0.15);
}

.navbutton {
    background-color: #7959CC;
    color: #F0ECFA;

}

.navbutton:hover {
    background-color: #A98EF0;
    color: #F0ECFA;
}

.navbutton-curr {
    background-color: #F0ECFA;
    color: #7959CC;
    box-shadow: inset 0 4px 4px -1px rgb(0 0 0 / 0.1), inset 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.hero-section {
    height: 85vh;
}

.circles {
    position: absolute;
    top: 45vh;
    left: -5vw;
    z-index: 0;
    scale: 0.8;
}

.stars {
    position: absolute;
    top: 6vh;
    left: 73vw;
    z-index: 0;
    scale: 0.77;
}

.about-section {
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 0.15);
    z-index: 10;
}

.header-section {
    padding-top: 24vh;
}

.project-card {
    background-color: #FFFAF0;
}

.project-card:hover {
    background-color: #FFEABE;
}

.link-hover:hover {
    color: #47C1B8;
}

/* Palette colours */
.palette-text {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #374151;
}

.palette-blue1 {
    color: #5879CA;
}

.palette-blue2 {
    color: #8DA9EF;
}

.palette-blue3 {
    color: #B7C6ED;
}

.palette-blue4 {
    color: #CFDDFF;
}

.palette-blue5 {
    color: #ECF0F9;
}

.palette-purple1 {
    color: #7959CC;
}

.palette-purple2 {
    color: #A98EF0;
}

.palette-purple3 {
    color: #C7B8EE;
}

.palette-purple4 {
    color: #DCCFFF;
}

.palette-purple5 {
    color: #F0ECFA;
}

.palette-yellow1 {
    color: #FFCA5E;
}

.palette-yellow2 {
    color: #FFD98A;
}

.palette-yellow3 {
    color: #FFEABE;
}

.palette-yellow4 {
    color: #FFEDC9;
}

.palette-yellow5 {
    color: #FFFAF0;
}

.palette-green1 {
    color: #47C1B8;
}

.palette-green2 {
    color: #80ECE4;
}

.palette-green3 {
    color: #AEEAE6;
}

.palette-green4 {
    color: #C9FFFB;
}

.palette-green5 {
    color: #E9F8F7;
}

.palette-bg-blue1 {
    background-color: #5879CA;
}

.palette-bg-blue2 {
    background-color: #8DA9EF;
}

.palette-bg-blue3 {
    background-color: #B7C6ED;
}

.palette-bg-blue4 {
    background-color: #CFDDFF;
}

.palette-bg-blue5 {
    background-color: #ECF0F9;
}

.palette-bg-purple1 {
    background-color: #7959CC;
}

.palette-bg-purple2 {
    background-color: #A98EF0;
}

.palette-bg-purple3 {
    background-color: #C7B8EE;
}

.palette-bg-purple4 {
    background-color: #DCCFFF;
}

.palette-bg-purple5 {
    background-color: #F0ECFA;
}

.palette-bg-yellow1 {
    background-color: #FFCA5E;
}

.palette-bg-yellow2 {
    background-color: #FFD98A;
}

.palette-bg-yellow3 {
    background-color: #FFEABE;
}

.palette-bg-yellow4 {
    background-color: #FFEDC9;
}

.palette-bg-yellow5 {
    background-color: #FFFAF0;
}

.palette-bg-green1 {
    background-color: #47C1B8;
}

.palette-bg-green2 {
    background-color: #80ECE4;
}

.palette-bg-green3 {
    background-color: #AEEAE6;
}

.palette-bg-green4 {
    background-color: #C9FFFB;
}

.palette-bg-green5 {
    background-color: #E9F8F7;
}
